.item-main-image,
.item-alternate-image {
  width: 22vw;
  max-height: 100vh;
}

.manufacturer {
  font-size: 27.65px;
  color: var(--primary);
}

.item-name {
  font-size: 19.2px;
}

.span {
  color: var(--primary);
}

.item-description {
  color: var(--primary);
  font-size: 19.2px;
}

.average-rating {
  font-size: 19.2px;
  color: var(--primary);
}

.add-item-button {
  width: 100%;
}

.item-review {
  color: var(--dark-color);
}

.item-price {
  font-size: 27.65px;
  color: black;
}
