.product-list-card {
    padding: 20px 8px 20px 8px;
    box-shadow: 2.5px 2.5px 10px var(--secondary);
    color: var(--primary);
    transition: 0.5s;
}

.product-list-card:hover {
    background-color: var(--tertiary);
    box-shadow: 2.5px 2.5px 10px var(--dark-color);
}

.product-main-image {
    max-width: 150px;
    max-height: 150px;
}

.product-name {
    margin-top: 3vh;
    margin-bottom: 3vh;
    color: black;
}

.product-price {
    margin-bottom: 3vh;
    color: var(--primary);
}

.also-viewed {
    text-align: center;
    color: var(--primary);
    font-size: 27.65px;
    margin-top: 12vh;
}
