.search-bar {
    margin-bottom: 6vh;
}

.category-container {
   padding-left: 5vw;
}

.search {
    margin-bottom: 2vh;
    padding-left: 5vh;
}

.link {
    transition: 0.35s;
}

.link:hover {
    color: #FFB75A;
}

.add-item-button {
    background-color: #FFB75A;
    color: var(--primary);
}